<section class="advantages">
  <div class="container">
    <h2 class="advantages__title section-title">НАШИ ПРЕИМУЩЕСТВА</h2>
    <ul class="advantages__list">
      <li class="advantages-item">
        <div class="advantages-item__top">
          <picture>
            <source srcset="img/advantages/1.webp" type="image/webp" />
            <img src="img/advantages/1.png" alt="img" />
          </picture>
        </div>
        <div>
          <h3 class="advantages-item__title">ПРОФЕССИОНАЛЬНЫЙ ПОДХОД</h3>
          <p class="advantages-item__text">
            У нас оперативный сервис и обслуживание. <br />
            Мы обсуждаем и консультируем какой результат хочет увидеть клиент.
          </p>
        </div>
      </li>
      <li class="advantages-item">
        <div class="advantages-item__top">
          <picture>
            <source srcset="img/advantages/2.webp" type="image/webp" />
            <img src="img/advantages/2.png" alt="img" />
          </picture>
        </div>
        <div>
          <h3 class="advantages-item__title">ПРОЗРАЧНЫЕ ЦЕНЫ</h3>
          <p class="advantages-item__text">
            Важной особенностью нашей компании является оптимальное соотношение
            цены и качества, все цены прозрачные. Мы работаем для Вас!
          </p>
        </div>
      </li>
      <li class="advantages-item">
        <div class="advantages-item__top">
          <picture>
            <source srcset="img/advantages/3.webp" type="image/webp" />
            <img src="img/advantages/3.png" alt="img" />
          </picture>
        </div>
        <div>
          <h3 class="advantages-item__title">БОЛЕЕ 5000 ВЫПОЛНЕННЫХ РАБОТ</h3>
          <p class="advantages-item__text">
            У нас большой опыт в проектах любой сложности. Превосходное
            европейское качество фурнитуры, каркаса, ткани и автоматики.
          </p>
        </div>
      </li>
      <li class="advantages-item">
        <div class="advantages-item__top">
          <picture>
            <source srcset="img/advantages/4.webp" type="image/webp" />
            <img src="img/advantages/4.png" alt="img" />
          </picture>
        </div>
        <div>
          <h3 class="advantages-item__title">ШИРОКИЙ ВЫБОР ПРОДУКЦИИ</h3>
          <p class="advantages-item__text">
            У нас большой выбор выдвижных навесов для кафе, ресторанов, террасы
            и веранд. <br />
            Выдвижные навесы механические и автоматические.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
