<section class="benefits">
  <div class="container">
    <h2 class="visually-hidden">Преимущества</h2>

    <ul class="benefits__list">
      <li class="benefits-item">
        <div class="benefits-item__top">
          <picture>
            <source srcset="img/benefits/1.webp" type="image/webp" />
            <img src="img/benefits/1.jpg" alt="benefits" />
          </picture>
        </div>
        <div class="benefits-item__body">
          <h3 class="benefits-item__title">Акриловая ткань</h3>
          <p class="benefits-item__text">
            Полотно маркизы из акрилового материала сделано по специальной
            технологии имеет множество преимуществ. Ткань не выцветает, не
            выгорает, не гниет. Защищает от солнце, УФ лучей, дождя. Прочен,
            долговечен, экологичен, гипоалергенный. Воздухопроницаемый дышащий
            материал.
          </p>
        </div>
      </li>
      <li class="benefits-item">
        <div class="benefits-item__top">
          <picture>
            <source srcset="img/benefits/2.webp" type="image/webp" />
            <img src="img/benefits/2.jpg" alt="benefits" />
          </picture>
        </div>
        <div class="benefits-item__body">
          <h3 class="benefits-item__title">
            Долговечная алюминиевая конструкция
          </h3>
          <p class="benefits-item__text">
            Конструкция выдвижной системы сделаны из алюминиевых профилей и
            нержавеющей стали. Благодаря этому конструкция прочная и гибкая,
            можно с надёжностью выдвигать маркизу или наклонять что позволяет
            регулировать затенения площади.
          </p>
        </div>
      </li>
      <li class="benefits-item">
        <div class="benefits-item__top">
          <picture>
            <source srcset="img/benefits/3.webp" type="image/webp" />
            <img src="img/benefits/3.jpg" alt="benefits" />
          </picture>
        </div>
        <div class="benefits-item__body">
          <h3 class="benefits-item__title">
            Автоматическое или ручное управление
          </h3>
          <p class="benefits-item__text">
            При ручном способе выдвижение маркизы используется специальная
            рукоятка, открытие/закрытие маркизы круговыми движениями рукояткой.
            При автоматическим способе используется электродвигатель/мотор,
            открытие закрытие маркизы с помощью пульта управление.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
