<section class="catalog">
  <div class="container">
    <h2 class="catalog__title section-title">КАТАЛОГ ПРОДУКЦИИ</h2>

    <ul class="catalog__list">
      <li class="catalog__item">
        <article class="product-card">
          <div class="product-card__left">
            <picture>
              <source srcset="img/products/1.webp" type="image/webp" />
              <img class="product-card__img" src="img/products/1.png" alt="" />
            </picture>
          </div>
          <div class="product-card__right">
            <h3 class="product-card__title">
              <a class="product-card__link" href="#">
                Террасные маркизы открытого типа
              </a>
            </h3>
            <div class="product-card__text">
              <p>Выдвижной навес открытого типа</p>
              <p>Самое доступное и популярное решение</p>
            </div>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <div class="product-card__left">
            <picture>
              <source srcset="img/products/2.webp" type="image/webp" />
              <img class="product-card__img" src="img/products/2.png" alt="" />
            </picture>
          </div>
          <div class="product-card__right">
            <h3 class="product-card__title">
              <a class="product-card__link" href="#"> Маркизы оконные </a>
            </h3>
            <div class="product-card__text">
              <p>Устанавливается для окон, витрин площадок</p>

              <p>Украшает фасад с брендированием</p>
            </div>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <div class="product-card__left">
            <picture>
              <source srcset="img/products/3.webp" type="image/webp" />
              <img class="product-card__img" src="img/products/3.png" alt="" />
            </picture>
          </div>
          <div class="product-card__right">
            <h3 class="product-card__title">
              <a class="product-card__link" href="#">
                Корзинные маркизы
              </a>
            </h3>
            <div class="product-card__text">
              <p>Используется для декора и брендирования</p>
              <p>Формы прямоугольные и полукруглые</p>
            </div>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <div class="product-card__left">
            <picture>
              <source srcset="img/products/4.webp" type="image/webp" />
              <img class="product-card__img" src="img/products/4.png" alt="" />
            </picture>
          </div>
          <div class="product-card__right">
            <h3 class="product-card__title">
              <a class="product-card__link" href="#"> Натяжные тенты </a>
            </h3>
            <div class="product-card__text">
              <p>Для больших открытых площадок террас</p>

              <p>Больше посадочных мест и зон отдыха</p>
            </div>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <div class="product-card__left">
            <picture>
              <source srcset="img/products/5.webp" type="image/webp" />
              <img class="product-card__img" src="img/products/5.png" alt="" />
            </picture>
          </div>
          <div class="product-card__right">
            <h3 class="product-card__title">
              <a class="product-card__link" href="#">
                Перголы
              </a>
            </h3>
            <div class="product-card__text">
              <p>Раздвижная крыша для летней площадки</p>
              <p>Современная многофункциональная система</p>
            </div>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <div class="product-card__left">
            <picture>
              <source srcset="img/products/6.webp" type="image/webp" />
              <img class="product-card__img" src="img/products/6.png" alt="" />
            </picture>
          </div>
          <div class="product-card__right">
            <h3 class="product-card__title">
              <a class="product-card__link" href="#"> Зонты</a>
            </h3>
            <div class="product-card__text">
              <p>Что может быть проще, но в то же время надежнее зонта, когда речь идет о защите от дождя и солнца?</p>
            </div>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <div class="product-card__left">
            <picture>
              <source srcset="img/products/7.webp" type="image/webp" />
              <img class="product-card__img" src="img/products/7.png" alt="" />
            </picture>
          </div>
          <div class="product-card__right">
            <h3 class="product-card__title">
              <a class="product-card__link" href="#">
                Летние кафе системы “Самолёт”
              </a>
            </h3>
            <div class="product-card__text">
              <p>Двускатный тент</p>

              <p>Выдвижной, для большой площади</p>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
