<section class="contacts" style="background-image: url('img/contacts-bg.png')">
  <div class="container">
    <div class="contacts__wrapper">
      <div class="contacts__left">
        <h2 class="contacts__title section-title">Закажите звонок</h2>

        <form class="contacts__form form-submit">
          <label class="form-submit__group">
            <input
              class="form-submit__input"
              type="text"
              placeholder="Ваше имя"
            />
          </label>
          <label class="form-submit__group">
            <input
              class="form-submit__input"
              type="tel"
              placeholder="Введите номер телефона"
            />
          </label>
          <button class="form-submit__btn btn" type="submit">ОТПРАВИТЬ</button>
        </form>
      </div>
      <div class="contacts__right">
        <div class="contacts__links">
          <a class="contacts__link contacts__link--phone" href="#">
            <span>8 (707) 333-35-57</span>
          </a>
          <address class="contacts__link contacts__link--address">
            Алматы, ул. Галилея 2
          </address>
          <a class="contacts__link contacts__link--mail" href="#">
            <span>decor-city-kz@mail.ru</span>
          </a>
        </div>
        <ul class="socials">
          <li class="socials__item">
            <a
              class="socials__link"
              href="#"
              target="_blank"
              aria-label="Напишите нам в Whatsapp"
            >
              <img src="img/icons/whatsapp.svg" alt="whatsapp"
            /></a>
          </li>
          <li class="socials__item">
            <a
              class="socials__link"
              href="#"
              target="_blank"
              aria-label="Напишите нам в Instagram"
            >
              <img src="img/icons/instagram.svg" alt="instagram"
            /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
