<section class="descr">
  <div class="container">
    <div class="descr__top">
      <p>
        <b>Пергола</b> — нужна для предохранения от солнца и дождя террас
        крупных масштабов. Характерной чертой этой системы считается то, что
        ткань собирается основываясь на принципе римской шторы — аккуратными
        складками (фалдами).
      </p>
    </div>

    <div class="descr__wrapper">
      <div class="descr__slider swiper">
        <ul class="descr__slides swiper-wrapper">
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/pergolas-slider/1.webp" type="image/webp" />
              <img src="img/pergolas-slider/1.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/pergolas-slider/2.webp" type="image/webp" />
              <img src="img/pergolas-slider/2.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/pergolas-slider/3.webp" type="image/webp" />
              <img src="img/pergolas-slider/3.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/pergolas-slider/4.webp" type="image/webp" />
              <img src="img/pergolas-slider/4.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/pergolas-slider/5.webp" type="image/webp" />
              <img src="img/pergolas-slider/5.jpg" alt="img" />
            </picture>
          </li>
        </ul>
        <button
          class="swiper-button-next"
          type="button"
          aria-label="Следующий"
        ></button>
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Предыдущий"
        ></button>
      </div>
      <div class="descr__right">
        <p>
          Ведущий горизонтальный профиль с фиксированной в нем особым образом
          тканью приводится в передвижение с помощью зубчатого ремня,
          расположенного внутри косых направляющих.
        </p>

        <span class="mb"><b>Главные достоинства данной перголы:</b></span>
        <ul class="descr__list gap">
          <li>
            — элегантная и крепкая несущая конструкция, которая доступна в двух
            вариантах: дерево и алюминий;
          </li>
          <li>
            — интегрированная в стойки конструкция водоотлива позволяет
            предотвратить скапливающуюся дождевую воду к основанию стоек;
          </li>
          <li>— дает возможность применять разные виды ткани;</li>
          <li>
            — имеет повышенную ветроустойчивость по сравнению с традиционными
            террасными маркизами;
          </li>
          <li>
            — повышение максимально вероятной ширины перголы за счет
            использования некоторых частей;
          </li>
          <li>
            — автоматизированная разновидность управления, дистанционное
            управление открытия и закрытия;
          </li>
          <li>
            — прочность, эластичность, полное затемнение от солнце,
            водонепроницаемость, ткань не распростроняет горения, устойчивость к
            температурным колебаниям.
          </li>
        </ul>

        <p>
          Раздвижная крыша для современной летней площадки.
          <b>Сливается с любым экстерьером.</b>
        </p>
      </div>
    </div>
  </div>
</section>
