<section class="descr descr--reverse">
  <div class="container">
    <div
      class="descr__top"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-offset="100"
    >
      <p>
        <b>Солнцезащитная система</b> для летних кафе, площадок ресторанов,
        гостиниц ПРЕМИУМ класса с современным дизайном — это
        <b>террасные маркизы в Алматы системы «Самолёт»</b>. <br />
      </p>
      <p>
        «Самолёт» представляет собой надёжную несущую П - образную металлическую
        опору. Конструкция защищена от коррозии, механических воздействий
        (царапин), выгорания полимерно-порошковым покрытием. <br />
        Установленные террасные маркизы на каркас напоминают крылья самолёта.
        Хотите получить уникальный, ПРЕМИАЛЬНЫЙ внешний вид в оформлении летней
        площадки вашего ресторана или кафе, установка маркиз системы «Самолёт» -
        с лёгкостью справится с поставленными задачами. <br />
      </p>
    </div>

    <div
      class="descr__wrapper"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-offset="100"
    >
      <div class="descr__slider swiper">
        <ul class="descr__slides swiper-wrapper">
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/aircrafts-slider/1.webp" type="image/webp" />
              <img src="img/aircrafts-slider/1.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/aircrafts-slider/2.webp" type="image/webp" />
              <img src="img/aircrafts-slider/2.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/aircrafts-slider/3.webp" type="image/webp" />
              <img src="img/aircrafts-slider/3.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/aircrafts-slider/4.webp" type="image/webp" />
              <img src="img/aircrafts-slider/4.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/aircrafts-slider/5.webp" type="image/webp" />
              <img src="img/aircrafts-slider/5.jpg" alt="img" />
            </picture>
          </li>
        </ul>
        <button
          class="swiper-button-next"
          type="button"
          aria-label="Следующий"
        ></button>
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Предыдущий"
        ></button>
      </div>
      <div class="descr__right">
        <div class="hidden">
          <p>
            Данная солнцезащитная система выдвижных маркиз позволяет затенять
            приличные площади без потери полезного пространства. Регулируемый
            угол наклона террасных маркиз легко изменить под ваши потребности.
          </p>
          <p>
            <b>Нестандартный вид вашей летней площадки</b> будет останавливать
            на себе взгляды и привлекать новых посетителей. Удобство и комфорт в
            уютной затененной атмосфере задержат их на дольше. Пребывание у вас
            запомнится им надолго, и они будут возвращаться снова и снова.
          </p>
          <p>
            <b>Разработанная специально для использования на улице</b> акриловая
            ткань, имеет защиту от плесени и грибков (специальная пропитка).
            Ткань из акриловых нитей с тефлоновым покрытием отталкивает воду и
            пыль. Не выцветает и не выгорает. Представлена в широком
            ассортименте цветов и фактур. Возможно нанесение рекламной
            информации, изображения или логотипа вашего бренда.
          </p>
          <p>
            <b>У вас пляжная зона или площадка у бассейна</b>, где нет стен и
            возможности закрепить солнцезащитные тенты? Система маркиз для
            террас «Самолёт» решение несравнимое с другими системами, по своей
            практичности и индивидуальности дизайна.
          </p>
          <p>
            <b>Качественные узлы и механизмы</b>, изготовленные из
            высококачественного алюминия и окрашенного метала, крепления из
            нержавеющей стали, акриловая уличная ткань - залог долговечности
            маркиз для террас системы «Самолёт». Собственное производство
            позволяет изготовить и установить маркизы по индивидуальным размерам
            от 7 рабочих дней. Возможна установка дополнительных аксессуаров -
            LED подсветка, радиоуправление.
          </p>
        </div>
        <button class="descr__show-more" type="button">Читать далее...</button>
      </div>
    </div>
  </div>
</section>
