<section class="descr">
  <div class="container">
    <div
      class="descr__top"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-offset="100"
    >
      <p>
        <b>Маркиза террасная открытого типа</b> - одна из самых популярных видов
        маркизы в Алматы, для использования на летних площадках ресторанов и
        кафе.
      </p>
      <p>
        Практичность и привлекательность - главные достоинства выдвижных маркиз,
        создадут тень в жаркий солнечный день, укроют в дождливую погоду,
        предадут вашей веранде, террасе, балкону свежий особенный вид.
      </p>
      <p class="hidden">
        Террасные маркизы для вашего удобства предусматривают не только
        механическое управление(вороток), но и опции автоматического контроля
        (радио пульты и клавиши; настенные переключатели; датчики солнца;
        датчики ветра и дождя).
      </p>
      <p class="hidden">Возможность подключения к системам «Умного Дома».</p>

      <p class="hidden">
        Маркизы выдвижные имеют крепкую несущую конструкцию, которая изготовлена
        из высокопрочного алюминия.
      </p>
      <p class="hidden">
        Качественные механизмы позволяют с легкостью изменять длину вылета и
        угол наклона маркизы, вы по своему усмотрению можете контролировать
        площадь затенения.
      </p>

      <p class="hidden">
        Полотно маркиз террасных из уличной Акриловой ткани от концерна Dickson
        (Франция) обеспечивает им долгий срок эксплуатации.
      </p>
    </div>

    <div
      class="descr__wrapper"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-offset="100"
    >
      <div class="descr__slider swiper">
        <ul class="descr__slides swiper-wrapper">
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/open-slider/1.webp" type="image/webp" />
              <img src="img/open-slider/1.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/open-slider/2.webp" type="image/webp" />
              <img src="img/open-slider/2.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/open-slider/3.webp" type="image/webp" />
              <img src="img/open-slider/3.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/open-slider/4.webp" type="image/webp" />
              <img src="img/open-slider/4.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/open-slider/5.webp" type="image/webp" />
              <img src="img/open-slider/5.jpg" alt="img" />
            </picture>
          </li>
        </ul>
        <button
          class="swiper-button-next"
          type="button"
          aria-label="Следующий"
        ></button>
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Предыдущий"
        ></button>
      </div>
      <div class="descr__right">
        <div class="hidden">
          <span><b>Почему стоит купить маркизу в Алматы у нас:</b></span>
          <ul class="descr__list">
            <li>
              — Тент Маркиза раздвижная, это лучший выбор по приемлемой
              стоимости.
            </li>
            <li>— Сроки изготовления маркизы для террасы от 5 дней.</li>
            <li>— Изготовление по вашим размерам.</li>
            <li>
              — Долговечность, ткань из акрила не выцветает. Пропитана
              антигрибковым составом. Водоотталкивающее покрытие. Не провисает.
            </li>
            <li>
              — Маркиза алюминиевая. Надежный каркас. Крепления из нержавеющей
              стали.
            </li>
            <li>
              — Приличное количество цветов и оттенков акриловой ткани в
              наличии.
            </li>
            <li>
              — Маркиза предаст индивидуальную неповторимость в оформлении
              террасы.
            </li>
            <li>
              — Возможность печати на полотне логотипа или изображения вашего
              бренда, красивая, привлекательная реклама террасы Ресторана или
              Летнего кафе.
            </li>
            <li>
              — Современные надежные системы автоматизации управления и контроля
              или простое ручное управление.
            </li>
            <li>— Легкость в обслуживании.</li>
          </ul>

          <p>
            <b>Большинство маркиз Алматы спроектированы и установлены нами. </b>
          </p>

          <p>Лучшие рекомендации на рынке.</p>
          <p>
            Изготовление и продажа маркиз, автоматизация управления, реставрация
            маркиз, замена полотна маркиз — это неполный перечень услуг,
            предоставляемый нашей компанией.
          </p>
        </div>
        <button class="descr__show-more">Читать далее...</button>
      </div>
    </div>
  </div>
</section>
