<section class="descr">
  <div class="container">
    <!-- <div
      class="descr__top"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-offset="100"
    ></div> -->

    <div
      class="descr__wrapper"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-offset="100"
    >
      <div class="descr__slider swiper">
        <ul class="descr__slides swiper-wrapper">
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/pergolas-slider/1.webp" type="image/webp" />
              <img src="img/pergolas-slider/1.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/pergolas-slider/2.webp" type="image/webp" />
              <img src="img/pergolas-slider/2.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/pergolas-slider/3.webp" type="image/webp" />
              <img src="img/pergolas-slider/3.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/pergolas-slider/4.webp" type="image/webp" />
              <img src="img/pergolas-slider/4.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/pergolas-slider/5.webp" type="image/webp" />
              <img src="img/pergolas-slider/5.jpg" alt="img" />
            </picture>
          </li>
        </ul>
        <button
          class="swiper-button-next"
          type="button"
          aria-label="Следующий"
        ></button>
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Предыдущий"
        ></button>
      </div>
      <div class="descr__right">
        <div class="hidden">
          <p>
            <b>Пергола</b> - элегантная и высокотехнологичная, автоматическая
            солнцезащитная система. Сборная беседка с сдвижной тентовой крышей.
            Конструкция каркаса изготавливается из экструдированного
            высокопрочного алюминия, защищенного от коррозии полимерным
            покрытием. Выбор цвета конструкции по карте Ral. Ткань в Перголе
            собирается, основываясь на принципе римской шторы — аккуратными
            складками под специальный защитный козырек
          </p>
          <p>
            <b>Изготовление пергол </b> возможно с различными видами ткани. Вы
            можете контролировать процент затенения, наслаждаться солнцем или
            укрыться от его палящих лучей или дождя в непогоду. Встроенная в
            стойки система отлива воды, так же все приводы и механизмы аккуратно
            скрыты внутри профиля конструкции, что действительно делает Перголу
            (уличная беседка с тканевым сдвижным навесом) эстетически
            непревзойденным и практичным выбором для вашей террасы.
          </p>
          <p>
            <b>Большой ассортимент дополнительных аксессуаров</b> сделают летнюю
            террасу ресторана, кафе или загородного дома, уникальной. LED
            подсветка позволит наслаждаться теплыми летними вечерами на вашей
            террасе, не прибегая к другим источникам освещения. Различные
            датчики, радиоуправление, подключение к системам «Умного дома» -
            современные технологии для еще большего комфорта. Возможность
            установки вертикальных маркиз (уличных роллштор) поможет укрыть вас
            не только от боковых солнечных лучей, но и от назойливых посторонних
            глаз.
          </p>
          <p>
            <b>Уличная автоматическая беседка Пергола для террасы</b> имеет
            повышенную ветроустойчивость по сравнению с традиционными террасными
            маркизами. Перголы отлично справляются с порывами ветра в предгорных
            районах Алматы или на террасах, расположенных на крышах.
          </p>
        </div>
        <button class="descr__show-more">Читать далее...</button>
      </div>
    </div>
  </div>
</section>
