<section class="descr descr--reverse">
  <div class="container">
    <div
      class="descr__top"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-offset="100"
    >
      <p>
        <b>Оконная маркиза сдвижная</b> — это практичность, умноженная на
        уникальные внешние качества. <br />
        По своему настроению вы можете либо полностью закрыть оконный проем или
        же наоборот впустить весь поток света, отрегулировать угол наклона и
        выбрать нужный просвет.
      </p>
      <p>
        <b> Оконные маркизы в Алматы </b>
        пользуются популярностью для использования на фасадах магазинов и
        бутиков. Оконные группы приобретут Европейскую эстетику. <br />
        Рекламная информация, логотип, изображения, нанесенные на маркизу,
        привлекут новых посетителей и повысят популярность. <br />
        Экономия электроэнергии на кондиционировании еще одно преимущество
        Маркиз для окон перед другими солнцезащитными изделиями (оконные
        жалюзи), ведь полотно из акриловой ткани останавливает солнце и тепло до
        попадания в помещение и предотвращает его нагревание. <br />
        Универсальные кронштейны позволяют производить различные варианты
        монтажа и установить маркизу - в проем, на стену или потолок.
      </p>
    </div>

    <div
      class="descr__wrapper"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-offset="100"
    >
      <div class="descr__slider swiper">
        <ul class="descr__slides swiper-wrapper">
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/window-slider/1.webp" type="image/webp" />
              <img src="img/window-slider/1.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/window-slider/2.webp" type="image/webp" />
              <img src="img/window-slider/2.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/window-slider/3.webp" type="image/webp" />
              <img src="img/window-slider/3.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/window-slider/4.webp" type="image/webp" />
              <img src="img/window-slider/4.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/window-slider/5.webp" type="image/webp" />
              <img src="img/window-slider/5.jpg" alt="img" />
            </picture>
          </li>
        </ul>
        <button
          class="swiper-button-next"
          type="button"
          aria-label="Следующий"
        ></button>
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Предыдущий"
        ></button>
      </div>
      <div class="descr__right">
        <div class="hidden">
          <p>
            Это расширяет область применения оконных маркиз и их часто
            используют как защитный тканевый козырек над дверными пролетами и
            входными группами.
          </p>
          <p>
            Простота конструкции, надежные узлы и механизмы обеспечивают
            легкость в использовании и обслуживании.
          </p>
          <p>
            Каркас - алюминий специальных марок, металл с полимерно-порошковым
            покрытием. По запросу окрасим по карте Ral. Гарантия на каркас 1
            год.
          </p>
          <p>
            <b> Мы поможем вам купить маркизы</b> в Алматы по лучшей цене и
            подобрать вариант под ваш бюджет.
          </p>
          <p>
            Ручное или автоматическое управление на выбор, а также
            дополнительные аксессуары для еще большего комфорта.
          </p>
          <p>
            Множество цветов и оттенков специальной ткани для использования в
            условиях внешней среды (акриловая ткань), удовлетворят запрос на
            самый требовательный вкус.
          </p>
          <p>
            Ткань акриловая обработана специальными защитными средствами и
            водоотталкивающим покрытием. Не подвержена усадке, выгоранию,
            гниению. Гарантия на ткань 3 года.
          </p>
          <p>
            Оптимальное соотношение стоимости, привлекательности и качества —
            Маркизы на Окна от нашей компании.
          </p>
          <p>
            Готовые оконные тканевые маркизы по стандартным размерам всегда в
            наличии. Вы можете заказать маркизу у нас по индивидуальным
            размерам.
          </p>
          <p>
            Собственное производство полного цикла, изготовим маркизу от 5 дней.
          </p>
        </div>
        <button class="descr__show-more" type="button">Читать далее...</button>
      </div>
    </div>
  </div>
</section>
