<section class="descr">
  <div class="container">
    <div class="descr__top">
      <p>
        <b>Корзинные маркизы (также называются купольными)</b> — это одно из
        лучших решений для оформления окон и дверей. Мы изготавливаем эти
        маркизы в нескольких вариантах – прямоугольном, арочном, а также
        складными или стационарными, чтобы они идеально подходили к любым окнам
        и полностью соответствовали Вашим требованиям.
      </p>
    </div>

    <div class="descr__wrapper">
      <div class="descr__slider swiper">
        <ul class="descr__slides swiper-wrapper">
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/basket-slider/1.webp" type="image/webp" />
              <img src="img/basket-slider/1.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/basket-slider/2.webp" type="image/webp" />
              <img src="img/basket-slider/2.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/basket-slider/3.webp" type="image/webp" />
              <img src="img/basket-slider/3.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/basket-slider/4.webp" type="image/webp" />
              <img src="img/basket-slider/4.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/basket-slider/5.webp" type="image/webp" />
              <img src="img/basket-slider/5.jpg" alt="img" />
            </picture>
          </li>
        </ul>
        <button
          class="swiper-button-next"
          type="button"
          aria-label="Следующий"
        ></button>
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Предыдущий"
        ></button>
      </div>
      <div class="descr__right">
        <p>
          В них сочетаются <b>технологии производства</b> будущего и
          классический, элегантный внешний вид, который понравится Вам, Вашим
          клиентам и просто прохожим – ведь даже реклама на этих маркизах
          выглядит вдвойне привлекательно и естественно. Логотип Вашего
          заведения будет запоминаться как часть атмосферы города, как его
          украшение и неотъемлемая деталь!
        </p>
        <p>
          <b>Принцип действия</b> — Ткань маркизы натягивается на поперечные
          лучи (ребра), которые складываются как веер. Количество лучей может
          быть разным, при большем выносе от стены обычно используется больше
          лучей. В зависимости от особенностей фасада и Вашего желания, маркиза
          монтируется над окном или в проем, этот способ особенно актуален в
          случаях установки маркиз на старинных зданиях, где над окнами часто
          используется декоративная отделка – лепнина или рустовка.
        </p>

        <p>
          Помимо своего прекрасного внешнего вида, корзинные маркизы обладают
          рядом защитных функций. Они скрывают окна от палящих солнечных лучей,
          а также препятствуют загрязнению. <b>Идеально подходят</b> для окон
          сложных форм. Корзинные маркизы также являются прекрасным рекламным
          носителем.
        </p>
        <p>
          На них можно нанести логотип или слоган, что позволит Вам
          дополнительно заявить о себе.
        </p>

        <p>
          <b> Корзинные маркизы</b>, несмотря на свой необычный внешний вид,
          имеют довольно широкую область применения. Их используют не только в
          коммерческих целях в кафе, ресторанах и отелях, но также с успехом и в
          загородном домостроении. Если вы хотите сделать Ваш дом уникальным и
          запоминающимся, то эта модель маркиз, определенно, для Вас!
        </p>
      </div>
    </div>
  </div>
</section>
