<section class="descr descr--reverse">
  <div class="container">
    <div
      class="descr__top"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-offset="100"
    >
      <p>
        <b> Натяжные тенты, они же тканевые уличные навесы.</b> Можно
        подразделить по двум направлениям – тенты натяжные из уличной акриловой
        ткани и тентовые парусные навесы из сетчатой ткани.
      </p>
      <p>
        <b>Тент натяжной из уличной акриловой ткани</b> для защиты от солнца и
        дождя. <br />
        Парусная натяжная конструкция из специальной сетчатой ткани для защиты
        от солнца и ультрафиолетовых лучей.
      </p>
    </div>

    <div
      class="descr__wrapper"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-offset="100"
    >
      <div class="descr__slider swiper">
        <ul class="descr__slides swiper-wrapper">
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/tents-slider/1.webp" type="image/webp" />
              <img src="img/tents-slider/1.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/tents-slider/2.webp" type="image/webp" />
              <img src="img/tents-slider/2.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/tents-slider/3.webp" type="image/webp" />
              <img src="img/tents-slider/3.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/tents-slider/4.webp" type="image/webp" />
              <img src="img/tents-slider/4.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/tents-slider/5.webp" type="image/webp" />
              <img src="img/tents-slider/5.jpg" alt="img" />
            </picture>
          </li>
        </ul>
        <button
          class="swiper-button-next"
          type="button"
          aria-label="Следующий"
        ></button>
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Предыдущий"
        ></button>
      </div>
      <div class="descr__right">
        <div class="hidden">
          <p>
            Натяжные тенты из акриловой ткани при правильном натяжении и угле
            наклона для стока воды, справятся не только с солнцем, но и с дождем
            в непогоду.
          </p>
          <p>
            Тенты из уличной ткани отлично подходят для установки на террасах и
            летних площадках ресторанов и кафе. Акриловая ткань имеет
            преимущества она пропитана антигрибковым составом и тефлоновым
            покрытием, что позволяет ей сохранять свой привлекательный внешний
            вид более 5 лет. Ткань уличная акриловая от лучших текстильных
            заводов Европы не выцветает, не растягивается, отталкивает пыль и
            воду, не плесневеет.
          </p>
          <p>
            На акриловой ткани возможно нанесение. Изображение вашего логотипа
            на большом полотне тента будет заметно из далека. Тентовый натяжной
            навес — это практичная защита от внешних факторов уличной среды и
            прекрасный рекламный носитель. В наличии всегда хороший выбор
            расцветок ткани и фактур. Пошив по индивидуальным размерам в
            кратчайшие сроки. Так же вы можете тент купить в Алматы с
            стандартным размером.
          </p>
          <p>
            <b> Тентовый парусный навес из сетчатой ткани</b> не требует угла
            наклона, что позволяет затенять огромные площади такие как
            прогулочные зоны парков, детские игровые, спортивные летние
            площадки, теннисные корты, пляжные и зоны у бассейна. Многогранность
            и разнообразие геометрически неправильных форм парусных тентов еще
            одно преимущество. Яркие расцветки всегда поднимут настроение.
          </p>
          <p>
            <b>Неприхотливость и долговечность</b>, люди с древних времен
            используют для своего комфорта тенты шатры навесы из ткани, нет
            ничего гениальнее, чем самое простое.
          </p>
        </div>
        <button class="descr__show-more" type="button">Читать далее...</button>
      </div>
    </div>
  </div>
</section>
