<section class="descr descr--reverse">
  <div class="container">
    <div
      class="descr__top"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-offset="100"
    >
      <p>
        Летние кафе системы «Самолёт» - это П-образные конструкции, в которых
        используются террасные маркизы. Благодаря своей универсальности, система
        «Самолёт» позволяет оборудовать летнее кафе практически на любой
        открытой площадке в максимально сжатые сроки. Это очень удобно, если Вам
        необходимо быстро организовать пространство. «Самолёт» мобилен, прочен и
        надежен, удобен в эксплуатации и имеет привлекательный внешний вид.
      </p>
    </div>

    <div
      class="descr__wrapper"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-offset="100"
    >
      <div class="descr__slider swiper">
        <ul class="descr__slides swiper-wrapper">
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/aircrafts-slider/1.webp" type="image/webp" />
              <img src="img/aircrafts-slider/1.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/aircrafts-slider/2.webp" type="image/webp" />
              <img src="img/aircrafts-slider/2.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/aircrafts-slider/3.webp" type="image/webp" />
              <img src="img/aircrafts-slider/3.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/aircrafts-slider/4.webp" type="image/webp" />
              <img src="img/aircrafts-slider/4.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/aircrafts-slider/5.webp" type="image/webp" />
              <img src="img/aircrafts-slider/5.jpg" alt="img" />
            </picture>
          </li>
        </ul>
        <button
          class="swiper-button-next"
          type="button"
          aria-label="Следующий"
        ></button>
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Предыдущий"
        ></button>
      </div>
      <div class="descr__right">
        <div class="hidden">
          <!-- <p>
          Летние кафе системы «Самолёт» - это П-образные конструкции, в которых
          используются террасные маркизы. Благодаря своей универсальности,
          система «Самолёт» позволяет оборудовать летнее кафе практически на
          любой открытой площадке в максимально сжатые сроки. Это очень удобно,
          если Вам необходимо быстро организовать пространство. «Самолёт»
          мобилен, прочен и надежен, удобен в эксплуатации и имеет
          привлекательный внешний вид.
        </p> -->
          <p>
            Принцип конструкции таков, что на металлический каркас, окрашенный
            специальной порошковой краской, устанавливается раздвижная тентовая
            крыша, открытыеили кассетные террасные маркизы, которые можно
            открывать и закрывать независимо друг от друга. Устойчивость всей
            конструкции придают специальные пригрузочные ящики, которые, как
            правило, используются в качестве декоративных коробов или ящиков для
            цветов, а также такие ящики могут скрываться под подиум. <br />
            Летнее кафе «Самолёт» можно организовать на открытой площадке, как
            отдельностоящую конструкцию, так и в непосредственной близи к
            зданию.
          </p>

          <p>
            <b>Особенности и рекомендации</b> — Угол наклона маркизы может быть
            от 0 до 60 градусов и устанавливается при монтаже, впоследствии Вы
            сможете изменять его по своему желанию. Чтобы обеспечить отток воды
            во время дождя, мы рекомендуем устанавливать угол не менее 20
            градусов.
            <br />
            Обратите внимание, что под «вылетом маркизы» понимается ее
            фактический размер. Таким образом, площадь, перекрываемая маркизой,
            меньше ее вылета, за счет установленного угла наклона. То есть, если
            Вы хотите закрыть террасу размерами 5 на 2,5 метра, и установить
            угол наклона 20 градусов, то Вам нужна маркиза шириной 5 и вылетом
            2,65 метров.
          </p>

          <p>
            <b>Принцип действия</b> — подвижные части-рычаги ( «локти» )
            выдвигают передний профиль маркизы и натягивают ткань. Когда маркиза
            складывается, ткань наматывается на барабан.
          </p>
        </div>
        <button class="descr__show-more" type="button">Читать далее...</button>
      </div>
    </div>
  </div>
</section>
