<section class="descr">
  <div class="container">
    <div
      class="descr__top"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-offset="100"
    >
      <p>
        <b> Корзинные маркизы </b>
        — это одно из недооцененных решений для оформления оконных и входных
        групп в городе Алматы. Большинство окон солнечных городов мира украшены
        маркизами, а именно корзинными(купольными)маркизами. <br />
        Фасад вашего здания приобретет неповторимый запоминающийся вид, а
        маркиза на окнах выполнит свою основную задачу — защитит от солнца.
      </p>
    </div>

    <div
      class="descr__wrapper"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-offset="100"
    >
      <div class="descr__slider swiper">
        <ul class="descr__slides swiper-wrapper">
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/basket-slider/1.webp" type="image/webp" />
              <img src="img/basket-slider/1.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/basket-slider/2.webp" type="image/webp" />
              <img src="img/basket-slider/2.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/basket-slider/3.webp" type="image/webp" />
              <img src="img/basket-slider/3.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/basket-slider/4.webp" type="image/webp" />
              <img src="img/basket-slider/4.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/basket-slider/5.webp" type="image/webp" />
              <img src="img/basket-slider/5.jpg" alt="img" />
            </picture>
          </li>
        </ul>
        <button
          class="swiper-button-next"
          type="button"
          aria-label="Следующий"
        ></button>
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Предыдущий"
        ></button>
      </div>
      <div class="descr__right">
        <div class="hidden">
          <p>
            <b>Продажа маркиз и изготовление по вашим размерам</b> в нескольких
            вариантах – прямоугольном; арочном (купольная маркиза); в форме
            прямоугольного, тентового козырька; Оконные маркизы корзинные бывают
            складными или стационарными. Разнообразие вариантов каркаса маркиз
            оконных корзинных — мы подберем лучший вариант для преображения
            вашего особняка, коттеджа, гостиницы. Стационарные маркизы на окна
            возможны в еще более многогранных формах и видах.
          </p>
          <p>
            Ребра маркиз для окон складных(корзинных) изготавливаются из
            алюминия, легкая и прочная конструкция, удобна и проста в
            использовании, имеет преимущество перед стационарными маркизами, вы
            можете регулировать солнечный просвет по своему усмотрению. Маркизы
            стационарные имеют жесткий не складной каркас. Производятся из
            алюминия или окрашенного металла (защита от коррозии). Ткань на
            выбор: акриловая или полиэстер.
          </p>
          <p>
            Счета за электроэнергию, потраченную на кондиционирование, после
            установки маркиз купольных или других вариантов оконных маркиз,
            значительно снизятся в летние жаркие месяцы. маркизы останавливают
            тепло и солнце до попадания в помещение. Уличные маркизы так же
            защищают ваши окна от пыли и грязи.
          </p>
          <p>
            <b>Маркизы на окна</b> отлично подходят для бизнеса. Логотип,
            контактная информация - помогут вам заявить о себе, повысится
            узнаваемость и популярность. Новых потенциальных клиентов вашей
            кофейни привлечет Европейский уют и спокойствие, придаваемые фасаду
            маркизами. Ткань ярких цветов и фактур — и ваш магазин или бутик
            притягивает взгляды. У вас большие витрины или витражи, стационарные
            маркизы могут быть изготовлены неограниченной длины, и уберегут
            товар от порчи при попадании прямых солнечных лучей.
          </p>
          <p>
            <b
              >Долговечность, практичность, непревзойденный индивидуальный вид,
              приемлемая стоимость, высокое качество, быстрое изготовление и
              установка</b
            >
            — вот неполный список, почему мы советуем установить маркизу для
            окон корзинную или стационарную.
          </p>
        </div>
        <button class="descr__show-more" type="button">Читать далее...</button>
      </div>
    </div>
  </div>
</section>
