<section class="descr">
  <div class="container">
    <div class="descr__top">
      <p>
        <b>Маркиза</b> — входит в один из самых популярных видов маркиз. Его все
        чаще используют в открытых верандах загородных домов, для летней террасы
        перед рестораном. Они создают тень в жаркий солнечный день, защищают от
        дождя в непогоду, дополняют и украшают фасад здания.
      </p>
      <p>
        Для маркизы можно выбрать цветовую гамму на усмотрение, формы
        ламбрекенов, комбинировать дополнительные опции – и Ваша маркиза будет
        неповторимой..
      </p>
    </div>

    <div class="descr__wrapper">
      <div class="descr__slider swiper">
        <ul class="descr__slides swiper-wrapper">
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/pergolas-slider/1.webp" type="image/webp" />
              <img src="img/pergolas-slider/1.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/pergolas-slider/2.webp" type="image/webp" />
              <img src="img/pergolas-slider/2.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/pergolas-slider/3.webp" type="image/webp" />
              <img src="img/pergolas-slider/3.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/pergolas-slider/4.webp" type="image/webp" />
              <img src="img/pergolas-slider/4.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/pergolas-slider/5.webp" type="image/webp" />
              <img src="img/pergolas-slider/5.jpg" alt="img" />
            </picture>
          </li>
        </ul>
        <button
          class="swiper-button-next"
          type="button"
          aria-label="Следующий"
        ></button>
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Предыдущий"
        ></button>
      </div>
      <div class="descr__right">
        <p>
          <b>Принцип действия </b>
          - подвижные части-рычаги ( «локти» ) выдвигают передний профиль
          маркизы и натягивают ткань. Когда маркиза складывается, ткань
          наматывается на барабан.
        </p>
        <p>
          <b>Особенности и рекомендации</b> - угол наклона маркизы может быть от
          0 до 60 градусов и устанавливается при монтаже, впоследствии Вы
          сможете изменять его по своему желанию. Чтобы обеспечить отток воды во
          время дождя, мы рекомендуем устанавливать угол не менее 20 градусов.
          <br />
          Обратите внимание, что под «вылетом маркизы» понимается ее фактический
          размер. Таким образом, площадь, перекрываемая маркизой, меньше ее
          вылета, за счет установленного угла наклона. То есть, если Вы хотите
          закрыть террасу размерами 5 на 2,5 метра, и установить угол наклона 20
          градусов, то Вам нужна маркиза шириной 5 и вылетом 2,65 метров.
        </p>

        <span><b>Главные достоинства данной продукции:</b></span>
        <ul class="descr__list">
          <li>
            — Лучший выбор по доступной цене и качестве для большинство террас и
            окон
          </li>
          <li>
            — Элегантная и крепкая несущая конструкция, которая выполнена из
            качественного алюминия;
          </li>
          <li>
            — Ткань из акрилы не выцветает, водооталкивающая,
            солнцезащитная.Имеет антигрибковую пропитку и выдерживает низкие и
            высокие температуры.
          </li>
          <li>
            — Украшение фасада террасы/здания и укрытие от солнечных лучей и
            дождя
          </li>
          <li>
            — Автоматизированная разновидность управления, дистанционное и
            ручное управление открытия и закрытия;
          </li>
        </ul>

        <p>
          <b>Брендирование маркизы</b> — в конкурентном мире бизнеса брендинг —
          это все. Без правильного маркетинга Ваша компания становится просто
          еще одним именем в переполненном рынке. Независимо от того, насколько
          вы хороши в своем деле, все будет напрасно, если клиенты вас не
          заметят.
        </p>
      </div>
    </div>
  </div>
</section>
