<section class="descr descr--reverse">
  <div class="container">
    <div
      class="descr__top"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-offset="100"
    >
      <p>
        <b>Собственное производство зонтов</b> разных размеров и модификаций.
      </p>
      <p>
        В наличии готовые большие зонты ПРЕМИУМ на боковой опоре и классические
        более простые и бюджетные на центральной стойке.
      </p>
      <p>
        Подберем лучший вариант зонтов для затенения, у нас вы можете купить
        зонты для бассейна (пляжные зонты), зонты для кафе, зонты для ресторанов
        и террас гостиниц и загородных коттеджей.
      </p>
    </div>
    <div
      class="descr__wrapper"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-offset="100"
    >
      <div class="descr__slider swiper">
        <ul class="descr__slides swiper-wrapper">
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/umbrellas-slider/1.webp" type="image/webp" />
              <img src="img/umbrellas-slider/1.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/umbrellas-slider/2.webp" type="image/webp" />
              <img src="img/umbrellas-slider/2.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/umbrellas-slider/3.webp" type="image/webp" />
              <img src="img/umbrellas-slider/3.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/umbrellas-slider/4.webp" type="image/webp" />
              <img src="img/umbrellas-slider/4.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/umbrellas-slider/5.webp" type="image/webp" />
              <img src="img/umbrellas-slider/5.jpg" alt="img" />
            </picture>
          </li>
        </ul>
        <button
          class="swiper-button-next"
          type="button"
          aria-label="Следующий"
        ></button>
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Предыдущий"
        ></button>
      </div>
      <div class="descr__right">
        <div class="hidden">
          <p>
            Мы очень гордимся качеством наших уличных зонтов, ведь они отвечают
            самым высоким стандартам! Надежная конструкция из металла, все узлы
            и компоненты защищены от внешних воздействий и коррозии полимерным
            покрытием.
          </p>
          <p>
            Без преувеличения, зонты от компании Маркиз – лучшие среди себе
            подобных! Официально мы даем гарантию 3 года, но фактически наша
            защита от дождя и солнца прослужит вам гораздо дольше! Не экономьте
            на качестве, выбирайте самое достойное для себя, своей семьи и
            своего бизнеса!
          </p>

          <p>
            <b>Зонты для ресторанов</b> на боковой несущей опоре имеют
            преимущество, так как полезная площадь под таким зонтом не теряется.
            Квадратный зонт удобен при планировании затенения площади. Зонт
            большой уличный для ресторанов это ПРЕМИУМ защита от солнца и дождя.
            Отсутствие пластика, использование высокотехнологичных акриловых
            тканей от лучших производителей текстиля Европы (Франция, Испания).
            Акриловая ткань разработана специально для уличных солнцезащитных
            систем таких — террасные маркизы, натяжные тенты, большие уличные
            зонты. Она не теряет своих качеств более 3-х лет, не подвержена
            гниению и воздействию грибка, не выцветает и не провисает. Гранитные
            пригрузы придают непревзойденную устойчивость и прекрасно дополняют
            конструкцию. Крепежные материалы из нержавеющей стали.
          </p>

          <p>
            <b>Уличные зонты для кафе </b>(пляжные зонты) с центральной опорой
            оптимальный и более экономичный вариант для покупки зонта в Алматы.
            Ткань полиэстер. За счет особенностей своей конструкции легкие и
            очень просты в управлении, перемещении и обслуживании. Бетонные
            пригрузы позволяют сэкономить бюджет, не теряя в качестве защиты от
            солнца и дождя, ветроустойчивости.
          </p>
          <p>
            На всех уличных зонтах возможно нанесение рекламной информации,
            логотипа бренда или индивидуального изображения.
          </p>
        </div>
        <button class="descr__show-more" type="button">Читать далее...</button>
      </div>
    </div>
  </div>
</section>
