<section class="descr descr--reverse">
  <div class="container">
    <div
      class="descr__top"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-offset="100"
    >
      <p>
        <b>Натяжные тенты</b> — устанавливают для террас с большой площадью
        такие как летние кафе, пляжные зоны отдыха, открытых площадок, торговых
        выставок и презентации.
      </p>
    </div>

    <div
      class="descr__wrapper"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-offset="100"
    >
      <div class="descr__slider swiper">
        <ul class="descr__slides swiper-wrapper">
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/tents-slider/1.webp" type="image/webp" />
              <img src="img/tents-slider/1.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/tents-slider/2.webp" type="image/webp" />
              <img src="img/tents-slider/2.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/tents-slider/3.webp" type="image/webp" />
              <img src="img/tents-slider/3.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/tents-slider/4.webp" type="image/webp" />
              <img src="img/tents-slider/4.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/tents-slider/5.webp" type="image/webp" />
              <img src="img/tents-slider/5.jpg" alt="img" />
            </picture>
          </li>
        </ul>
        <button
          class="swiper-button-next"
          type="button"
          aria-label="Следующий"
        ></button>
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Предыдущий"
        ></button>
      </div>
      <div class="descr__right">
        <div class="hidden">
          <p>
            <b>Защишают</b> от солнечных лучей и дождя. Тент из акриловых и
            парусных материалов, качество прочности и долговечности. Летом под
            тканью не душно и не имеет запаха, засчет вентиляции материала.
          </p>
          <p>
            <b>Ткани</b> обладают эластичностью и устойчивы к сгибанию. Для
            дополнительной рекламы сверху на ткань можно нанести печать логотип.
            <br />
            Натяжные тенты - самая известная с незапамятных времён
            солнцезащитная конструкция. Она же и самая незатейливая.
          </p>
          <p>
            Действительно, что может быть проще куска ткани, закрепленной на
            опорах или растяжках, защищающей от перегрева и осадков?
          </p>
          <p>
            В современном мире натяжные тенты используются для создания
            комфортных условий посетителям летних кафе, выездных выставок,
            фестивалей и презентаций.
          </p>

          <p>
            Тенты из акриловой ткани – <b>надежная защита</b> от солнца и
            непогоды. Они долговечны, не выгорают на солнце, не провисают за
            счет хорошей натяжки, эластичны и устойчивы к сгибанию, что
            позволяет многократно и без последствий совершать монтаж и демонтаж
            конструкции.
          </p>

          <p>
            Такие тенты <b>легко моются</b> и долго сохраняют свою расцветку,
            что, бесспорно, является их преимуществом. Кроме того, они имеют
            доступную цену и возможность исполнения по индивидуальным чертежам.
            Огромным плюсом является то, что тенты из акриловой ткани «дышат»,
            что располагает к более комфортному пребыванию под ними.
          </p>
        </div>
        <button class="descr__show-more" type="button">Читать далее...</button>
      </div>
    </div>
  </div>
</section>
