<section class="descr descr--reverse">
  <div class="container">
    <div class="descr__top">
      <p>
        <b> Оконные маркизы</b> — это летние наклонные навесы на окна, балкон,
        брендирование фасада магазина для защиты от солнце и дождя. Защишает от
        ультрафиолетовых лучей и сохраняет прохладу в комнате в жаркие дни.Если
        нанести печать на ткань может использоватся как наружная реклама что
        привлечет дополнительное внимание и подчеркнет стиль фасада.
      </p>
    </div>

    <div class="descr__wrapper">
      <div class="descr__slider swiper">
        <ul class="descr__slides swiper-wrapper">
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/umbrellas-slider/1.webp" type="image/webp" />
              <img src="img/umbrellas-slider/1.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/umbrellas-slider/2.webp" type="image/webp" />
              <img src="img/umbrellas-slider/2.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/umbrellas-slider/3.webp" type="image/webp" />
              <img src="img/umbrellas-slider/3.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/umbrellas-slider/4.webp" type="image/webp" />
              <img src="img/umbrellas-slider/4.jpg" alt="img" />
            </picture>
          </li>
          <li class="descr__slide swiper-slide">
            <picture>
              <source srcset="img/umbrellas-slider/5.webp" type="image/webp" />
              <img src="img/umbrellas-slider/5.jpg" alt="img" />
            </picture>
          </li>
        </ul>
        <button
          class="swiper-button-next"
          type="button"
          aria-label="Следующий"
        ></button>
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Предыдущий"
        ></button>
      </div>
      <div class="descr__right">
        <p>
          Главное <b>предназначение</b> данной продукции возможность полной
          защиты от солнце и дождя, тем самым не закрывая вид вовне. Капли дождя
          не будут попадать в окно, дольшее оставляя их в чистоте. Украшает
          фасад здания в европейский стиль, с нанесением логотипа Ваше заведения
          будет выделяться.
        </p>
        <p>
          <b>Принцип действия</b> - с помощью универсальных кронштейнов эти
          модели могут устанавливаться над окном, на стену, в потолок либо в
          проем окна.Конструкция маркизы алюминиевый вал на который наматывается
          ткань из акрилы и с двух сторон крепятся локти. Маркиза регулируется
          (открывается) вручную либо автоматический, изменяя угол наклона. Очень
          хорошая защита от солнца, в жару температура в помещении будет ниже
          чем снаружи. Благодаря специальной кассете, ткань и механизм защищены
          от неблагоприятных погодных условий: грязь, дождь, пыль, снег, лед,
          ветер, тем самым сохраняется первостепенный внешний вид ткани долгие
          годы.
          <br />
          Очень хорошая защита от солнца, в жару температура в помещении будет
          ниже чем снаружи. Благодаря специальной кассете, ткань и механизм
          защищены от неблагоприятных погодных условий: грязь, дождь, пыль,
          снег, лед, ветер, тем самым сохраняется первостепенный внешний вид
          ткани долгие годы.
        </p>

        <p>
          <b>Практичность</b>
          является одной из основных характеристик прямых оконных маркиз. Они не
          выцветают на солнце и не подвержены воздействие непогоды. Легкость в
          управлении делает такие маркизы незаменимым синонимом комфорта. Всего
          за несколько секунд можно частично или полностью открыть маркизу с
          пульта управления или вручную, спрятавшись от солнечных лучей. А за
          счет своего непревзойдённого внешнего вида и возможности выбора ярких
          расцветок, маркизы не дадут хандрить даже в пасмурный непогожий день.
        </p>

        <p>
          <b>Оконные маркизы</b> доступны с открытым передним профилем, который
          может быть покрашен в любой цвет для создания неповторимого дизайна.
          Кроме того, Вы можете напечатать на ткани логотип или рекламный посыл,
          дополнительно заявив о своем деле.
        </p>
      </div>
    </div>
  </div>
</section>
