<section class="hero" style="background-image: url('img/hero/window.jpg')">
  <div class="container">
    <div class="hero__wrapper">
      <div
        class="hero__location"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-offset="100"
      >
        <img src="img/flag.svg" alt="flag" />
        <span> Работаем по всему Казахстану</span>
      </div>
      <h1
        class="hero__title section-title"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-offset="100"
        data-aos-delay="200"
      >
        <span>Маркизы оконные</span>
      </h1>

      <p
        class="hero__text"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-offset="100"
        data-aos-delay="300"
      >
        Качественное проектирование, производство и монтаж систем для
        <br />террас домов, кафе и ресторанов по всему Казахстану
      </p>

      <ul class="hero__list">
        <li
          class="hero__item"
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-offset="100"
          data-aos-delay="300"
        >
          Многолетний опыт
        </li>
        <li
          class="hero__item"
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-offset="100"
          data-aos-delay="400"
        >
          Доступные цены
        </li>
        <li
          class="hero__item"
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-offset="100"
          data-aos-delay="500"
        >
          Гарантия
        </li>
      </ul>

      <button
        class="hero__btn btn btn-consultation"
        type="button"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-offset="100"
        data-aos-delay="600"
      >
        Заказать консультацию
      </button>
    </div>
  </div>
</section>
