<div class="popup popup--consultation">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg>
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <span class="popup__title">Заказать консультацию</span>

      <form class="form-submit">
        <label class="form-submit__group">
          <input
            class="form-submit__input"
            type="text"
            placeholder="Ваше имя"
            required
          />
        </label>
        <label class="form-submit__group">
          <input
            class="form-submit__input"
            type="text"
            placeholder="Ваш номер телефона (обязательно)"
            required
          />
        </label>

        <button class="form-submit__btn btn" type="button">ОТПРАВИТЬ</button>
      </form>
    </div>
  </div>
</div>
