<section class="request" style="background-image: url('img/request-bg.png')">
  <div class="container">
    <div class="request__wrapper">
      <div class="request__left">
        <h2 class="request__title">
          Готовы к началу работ? Вызовите замерщика
        </h2>
        <p class="request__text">
          Оставьте свой номер телефона и мы вам перезвоним. <br />
          Отправим замерщика или рассчитаем стоимость.
        </p>

        <form class="request__form form-submit">
          <label class="form-submit__group">
            <input
              class="form-submit__input"
              type="tel"
              placeholder="Введите номер телефона"
            />
          </label>
          <button class="form-submit__btn btn" type="submit">ОТПРАВИТЬ</button>
        </form>
      </div>
      <div class="request__img"></div>
    </div>
  </div>
</section>
